/* #region Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}

/* #endregion Common */

/* #region Header */
#site_header {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 270px;
  width: 100%;
}

/* #endregion Header */

/* #region main */
#site_main {
  background-color: rgb(31, 31, 156);
  min-height: 100vh;
}