/* #region Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}

/* #endregion Common */

/* #region Header */
#site_header {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 300px;
  width: 100%;
}

/* #endregion Header */